@import "tailwindcss";

@theme {
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
  --color-brand-gray: #f5f5f5;
  --color-brand-border: #e5e5e5;
}

@layer base {
  body {
    @apply bg-white text-black font-sans;
  }
}
